body{
  width: 100%;
  height: 100cv;
  display:flex;
  justify-content: center;
  flex-direction: row;
}

li{
  list-style: none;
}
.profile-card-container{
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 600px;
  margin: 10px 0px 25px 0px ; 
  box-shadow: 10px 18px 16px -3px rgba(0,0,0,0.69);
  -webkit-box-shadow: 10px 18px 16px -3px rgba(0,0,0,0.69);
  -moz-box-shadow: 10px 18px 16px -3px rgba(0,0,0,0.69);
  background-color: #E2F3EA;
}

.profile-card-header{
  width: 100%;
  height: 200px;
  background-color: #998DA0;
  text-align: center;
  letter-spacing: 5px;
  font-size: 50px;
  font-weight: bold;
  position: relative;
  color: #63585E;
}
.profile-card-header:hover{
  transition: all .5s ease-in-out;
  background-color: #B9C0DA;
}

#profile-photos{
  width: 100px;
  position: absolute;
  top: 150px;
  left: 48%;
}
.profile-card-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#name{
  font-size: 32px;
  letter-spacing: 2px;
  color: #B9C0DA;
}
#email{
  font-size: 28px;
  color: #B9C0DA;
}
#phone{
  font-size: 28px;
  font-weight: bold;
  color: #B9C0DA;
}